---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-6 flex flex-nowrap">
    <div class="text-3xl w-full font-bold ">Profile</div>
    <a href="https://drive.google.com/file/d/1KqR2I_Qu3Jm6tkKJ8KciXEiUX468J1IT/view?usp=sharing"> 
      <button class="btn btn-accent hover:bg-accent  hover:text-white">
        <svg  width="32"
        height="32"
        viewBox="0 0 24 24"
        style="fill: currentColor;" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 3H12H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H7.5M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V9.75V12V19C19 20.1046 18.1046 21 17 21H16.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 12V20M12 20L9.5 17.5M12 20L14.5 17.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </button>
    </a>
  </div>

  <div class="mb-10 text-justify">
    Experienced software engineer with 4 years of experience in developing and deploying cloud-native applications. Proficient in various programming languages such as Java, Python, Go, and R. Experienced in system design, architecture, and development of enterprise-level applications. Adept at working with cross-functional teams to deliver high-quality software solutions. Currently working at Salesforce, one of the world's leading cloud-based software companies, and actively involved in developing and deploying cutting-edge solutions that power businesses across the globe. Excels in a fast-paced and dynamic work environment, with excellent problem-solving, analytical, and communication skills.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
        title="Evaluating Credit Default Risk - (Thesis)"
        subtitle="From 2022 at LJMU, UK"
        desc="Compare the effectiveness of existing credit default prediction models on balanced datasets and determine whether using more computationally expensive deep learning models is effective over supervised learning models."
    />
    <TimeLineElement
      title="Masters in Machine Learning and Artificial Intelligence"
      subtitle="2020 to 2022 at Liverpool John Moores University, United Kingdom"
    />
    <TimeLineElement
      title="Computer Science Engineer"
      subtitle="2015 to 2019 at Jawaharlal Nehru Technological University, Hyderabad"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Member of Technical Staff"
      subtitle="From 2022 - Present at Salesforce.com, Hyderabad, India"
      desc="Within my role, I spearheaded initiatives to elevate Salesforce reporting capabilities, optimizing the inline edit feature and backend performance. By implementing batch processing and parallelization using Java, I significantly improved API response times and database efficiency. This was complemented by leveraging React on the frontend, restructuring the API for seamless integration and efficient handling of report cell modifications. Additionally, I played a pivotal role in integrating Salesforce LLM models, crafting custom formulas for reports, and enhancing user experience by introducing intuitive UI features. Notably, I employed telemetry and Salesforce machine learning pipelines to identify and address anomalies across various system components, resulting in substantial improvements in load times and overall performance."
    />
    <TimeLineElement
      title="Associate Member of Technical Staff"
      subtitle="From 2021 to 2022 at Salesforce.com, Hyderabad, India"
      desc="Implemented robust ETL pipelines using Jenkins, Airflow, and Python, handling 70 million records daily from Hive, Presto and Kafka. Executed parallel processing and optimising of XML parser to support various data export formats."
    />
    <TimeLineElement
      title="Project Mentor"
      subtitle="From 2020 to 2022 at Udacity.com, Remote"
      desc="Review, assess and debug projects submitted by students of Data Structure and Algorithms nano-degree, a 12-week MOOC, and assist them in graduating the course."
    />
    <TimeLineElement
      title="Associate System Engineer"
      subtitle="From 2019 to 2020 at Salesforce.com, Hyderabad, India"
      desc="Created Tableau Dashboards on Live System Monitoring and Release Management to provide a complete overview of status, availability, health and deployment. Designed and Implemented the Test Scripts Tracking App to track and manage progress during a release using Django and D3Js."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://rb.gy/0pvrwl" target="_blank">Post Graduate Diploma in Machine Learning and Artificial Intelligence, IIIT, Bangalore, 2021</a>
    </li>
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">Completed the Oracle Certification in Java 8 (Oracle Certified Associate), in February 2017</a>
    </li>
    <li>
      <a href="http://divessi.com/dv/2849211" target="_blank">Scuba Diver License, 2020</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Completed Data Structures and Algorithms Nano-degree with Udacity, in July 2020</a>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/JV7NUQKDM394" target="_blank"> Completed Machine Learning : A Case Study Approach Certification by University of Washington in coursera.org, in July 2018. </a>
    </li>
    
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>Python</li>
    <li>Spring Boot</li>
    <li>Tableau</li>
    <li>SQL</li>
    <li>Salesforce - CRMA</li>
    <li>Go</li>
    <li>Django</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>AWS</li>
    <li>System design</li>
    <li>Data Structures</li>
    <li>HLD/LLD</li>
    <li>Postgres</li>
    <li>Java</li>
    <li>Spark</li>
    <li>Airflow</li>
    <li>Linux/bash</li>  
  </ul>

  <div class="md-5 padding-5">
    <br/>

    <a href="https://drive.google.com/file/d/1KqR2I_Qu3Jm6tkKJ8KciXEiUX468J1IT/view?usp=sharing"> 
      <button class="btn btn-accent hover:bg-accent hover:text-white">
        <svg  width="32"
        height="32"
        viewBox="0 0 24 24"
        style="fill: currentColor;" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 3H12H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H7.5M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V9.75V12V19C19 20.1046 18.1046 21 17 21H16.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 12V20M12 20L9.5 17.5M12 20L14.5 17.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        View Resume</button>
    </a>
  </div>
  
</BaseLayout>
