---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Restaurant Recommendation Bot"
    img="/public/rasa.jpg"
    desc="Chatbot developed using Rasa NLP framework and Zomato API to recommend restaurants to users based on their preferences."
    url="https://github.com/anunay999/Restaurant-Recommendation-Chatbot"
    badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="AWS S3 Java Toolkit"
    img="/public/aws-toolbox.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://github.com/anunay999/aws-s3-file-transfer"
    badge="FOSS"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Neural Image Caption Generator"
    img="/public/lstm.jpg"
    desc="A neural image caption generator is an AI model that generates descriptive captions for images using deep learning techniques."
    url="https://github.com/anunay999/Neural-Caption-Generator"
  />
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Archive</div>
  </div>

  <HorizontalCard
    title="Test Tracking Tool"
    img="/public/test-tracking.jpg"
    desc="The Test Case Tracking Tool is a Django web application designed to help teams track their progress in completing test cases for a project."
    url="https://github.com/anunay999/test_tracking"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
</BaseLayout>
