---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Anunay Aatipamula ⚡️
  </div>
  <a href="https://astro.build/" class="pb-2 btn btn-outline hover:bg-secondary hover:text-white text-black-200 pt-1 inline-flex" target="_blank">
    Powered by <img class="object-scale-down h-10 w-10" src="/favicon.svg"/>
  </a>
</footer>
<style>

</style>
